@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


$colors: (
    background: #ffffff,
    background-features: #FAFAFA,
    text: #000000,
    main: #EE3D1B,
    secondary: #ED4C5C,
);

$fonts: (
    title-1: 700 4.5rem, 
    title-2: 700 2.25rem,
    text-1: normal 1.5rem,
    text-2: 700 1.125rem,
    text-3: normal 0.875rem,
    text-4: normal 0.75rem,
); 

body {
    margin: 0;
}

.page {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    min-width: 1024px;
    margin: 0;
}

.header {
    width: 100%;
    height: 7rem;
    top: 0;
    color: map-get($colors, background);
}

.header__container {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 50%;
    margin-top: 3.5rem;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    width: 17%;

    &__title {
        font: map-get($fonts, text-2) 'Lato', sans-serif;
        display: inline-block;
        vertical-align: middle;
        line-height: 21px;
        padding-left: 0.5rem;
    }

    &__image {
        display: inline-block;
        vertical-align: middle;
    }
}
    
.navigation {
        display: inline-block;
        width: 53%;
        text-align: center;
        vertical-align: middle;

        &__list {
            list-style: none;
            vertical-align: middle;
            display: inline-block;
            text-align: center;
            line-height: 17px;
        }

        &__link {
            display: inline-block;
            vertical-align: middle;
            padding: 0 0.5rem;
            font: map-get($fonts, text-3) 'Lato', sans-serif;
        }
    }

.language-switcher {
        display: inline-block;
        vertical-align: middle;
        width: 10%;
   

        &__name {
            display: inline-block;
            vertical-align: middle;
            font: map-get($fonts, text-3) 'Lato', sans-serif;
        }

        &__image {
            vertical-align: middle;
            display: inline-block;
        }
    }

.login {
    display: inline-block;
    vertical-align: middle;
    width: 10%;
}
    
.button { 
    height: 40px;
    width: 100px;
    border-radius: 6px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    background-color: transparent;
    color: map-get($colors, background);
    border: 1px solid;

    &:hover, 
    &:active {
        background-color: map-get($colors, background);
        color: map-get($colors, text);
        cursor: pointer;
    }
    
}

.signup {
    top: 0;
    display: block;
    width: 100%;
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8), rgba(238, 61, 27, 0.8)), url(img/Rectangle-3.png);
    background-size: cover;
    height: 782px;
    background-repeat: no-repeat;  
}

.signup__container {
        display: block;
        margin: 9rem auto auto auto;
        text-align: center;
}

.signup__title {
        color: map-get($colors, background);
        line-height: 86px;
}

.title--large {
    font: map-get($fonts, title-1) 'Lato', sans-serif;
}


.signup__offer {
    margin-top: 2.44rem;
    font: map-get($fonts, text-1) 'Lato', sans-serif;
    color: map-get($colors, background);
    line-height: 36px;
    text-align: center;
}

.signup__button {
    text-align: center;
    margin-top: 2.44rem;
}

.button--solid {
    vertical-align: middle;
    height: 50px;
    width: 160px;
    border-radius: 6px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    background-color: map-get($colors, background);
    color: map-get($colors, secondary);
    border: 1px solid;

    &:hover, 
    &:active {
        background-color: map-get($colors, background);
        color: map-get($colors, text);
        cursor: pointer;
    }
}  


.video-section {
    display: inline-block;
    top: 782px;
    height: 500px;
    width: 100%;
    background-color: map-get($colors, background);
}

.video-section__container {
    vertical-align: top;
    display: inline-block;
    margin: 140px 0 0 165px;
    width: 31%;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin: 5% 0 0 10%;
    }
}

.video-section__title {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
}

.video-section__text {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
}

.video-section__link {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
    color: map-get($colors, secondary);

    &:active,
    &:hover {
        cursor: pointer;
    }
}

.video-section__background {
    vertical-align: top;
    text-align: center;
    display: inline-block; 
    width: 50%;
    margin-top: 94px;
}

.video-section__image {
   margin-left: 2rem;
}

.video-section__button {
    margin-top: 123px;
    position: absolute;
    height: 66px;
    width: 66px;
    z-index: 2;
        
    &:active,
    &:hover {
        cursor: pointer;
    }
}

.features {
    width: 100%;
    height: 660px;
    display: block;
    top: 1282px;
    background-color: map-get($colors, background-features);
}

.features__title {
    text-align: center;
    margin: 0 165px 0 165px;
    padding-top: 63px;
}

.features__title--medium {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
    margin: auto;
}

.features__container {
    height: 250px;
    margin: 75px 120px 0 120px;
    text-align: center;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin: 75px 0 0 0;
        height: 75%;
        
    }
}

.features__image {
    text-align: center;
    padding: 0 15px;

    @media (min-width: 1024px), (max-width: 1300px) {
        padding: 0;
        transform: scale(0.8);
        display: inline-block;
        width: 33%;
    }
}

.features__info {
    position: absolute;
    width: 100%;
    display: inline-block;
    top: 1620px;
    text-align: center;
    height: 40%;

    @media (min-width: 1024px), (max-width: 1300px) {
        width: 100%;
    }
}

.features-item {
    width: 293px;
    height: 198px;
    display: inline-block;
    background-color: map-get($colors, background);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 0 42px;
    vertical-align: middle;

    @media (min-width: 1024px), (max-width: 1300px) {
        transform: scale(0.8);
        width: 25%;
        margin: 0 4%;
    }
}

.features-item__title {
    font: map-get($fonts, text-2) 'Lato', sans-serif;
    line-height: 22px;
    margin: 32px 32px 20px 32px;
}

.features-item__text {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    margin: 0 32px 5px 32px;
    padding-bottom: 1rem;
}

.features-item__link {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    color: map-get($colors, secondary);
    
    &:active,
    &:hover {
        cursor: pointer;
    }
}

.technology {
    width: 100%;
    height: 500px;
}

.technology__info {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-top: 52px;
    height: 226px;
}

.technology-item {
    vertical-align: middle;
    display: inline-block;
    width: 255px;
    height: 226px;
    text-align: center;
    margin: 0 13.5px;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin: 0 1%;
        width: 22%;
    }
}

.technology-item__number {
    font-size: 100px;
    line-height: 120px;
    font-family: 'Lato', sans-serif;
    margin: 0 69px;
    color: rgba(16, 16, 16, 0.08);
}

.technology-item__title {
    font: map-get($fonts, text-2) 'Lato', sans-serif;
    line-height: 22px;
    margin: 19px 65px 0 65px;
    text-align: center;
}

.technology-item__text {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    margin: 10px 32px 0 32px;
}

.technology-icon {
    background-color: transparent;
    position: absolute;
    text-align: center;
    height: 80px;
    top: 2162px;
    width: 100%;
    display: inline-block;
}

.techology-icon__image {
    vertical-align: middle;
    display: inline-block;
    width: 255px;
    height: 226px;
    text-align: center;
    margin: 0 13.5px;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin: 0 1%;
        width: 22%;
    }
}

.app-download {
    width: 100%;
    height: 500px;
    background-color: map-get($colors, secondary);
}
.app-download__info {
    display: inline-block;
    margin: 122px 0 0 165px;
    width: 30%;
    color: map-get($colors, background);
    vertical-align: top;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin: 5% 0 0 10%;
    }
}

.app-download__title {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
}

.app-download__text {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
}
.app-download__link {
    vertical-align: middle;
    display: inline-block;
    padding-right: 20px;

    &:active,
    &:hover {
        cursor: pointer;
    }
}
.app-download__image {
    display: inline-block;
    padding: 5% 0 0 5%;
    width: 53%;
    height: 85%;

    @media (min-width: 1024px), (max-width: 1300px) {
        padding: 6% 0 0 5%;
    }
}

.app-download__image--left {
    position: absolute;
    margin-top: 22px;
}

.app-download__image--right {
    position: absolute;
    margin-top: 22px;
    margin-left: 150px;
}

.app-download__image--top {
    position: absolute;
    margin-left: 44px;
}

.contact {
    width: 100%;
    height: 500px;
}

.contact__info {
    display: inline-block;
    margin: 117px 0 0 165px;
    width: 445px;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin: 5% 0 0 10%;
        width: 30%;
    }
}
.contact__title {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
}

.contact__text {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
    margin-top: 40px;
}

.contact__form {
    width: 50%;
    vertical-align: top;
    margin: 117px 0 0 114px;
    display: inline-block;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin: 5% 0 0 7%;
        width: 50%;
    }
}
.contact__input {
    text-align: left;
}

input:active,
input:hover {
        background-color: rgba($color: #1cd415, $alpha: 0.5);
        color: map-get($colors, text);

        &:focus {
            outline: none;
        }
}

.first-name,
.last-name {
    width: 35%;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 3%;

    @media (min-width: 1024px), (max-width: 1300px) {
        width: 35%;
    }
}

.last-name {
    margin-left: 5%;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin-left: 6%
    }

}

.phone-number {
    margin-top: 24px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 3%;
    width: 80%;
    height: 60px;
}

.select-service {
    margin-top: 24px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 3%;
    width: 83.5%;
    height: 60px;

    &:focus {
        outline: none;
    }
}
.button--solid-red {
    margin-top: 24px;
    width: 160px;
    height: 50px;
    background-color: map-get($colors, secondary);
    color: map-get($colors, background);
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    line-height: 17px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;

    &:active,
    &:hover {
        color: map-get($colors, text);
        border-color: map-get($colors, text);
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.footer {
    width: 100%;
    height: 435px;
    background-color: map-get($colors, background-features);
    text-align: left;
   
}

.footer__container {
    margin-left: 166px;
    padding-top: 85px;

    @media (min-width: 1024px), (max-width: 1300px) {
        margin-left: 10%;
        padding-top: 4%;
    }
}

.footer__item {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 4%;
    text-align: left;
}
.footer__title {
    font: map-get($fonts, text-2) 'Lato', sans-serif;
    line-height: 22px;
    margin-bottom: 33px;
}
.footer__text {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
}

.footer__copyright {
    margin-top: 117px;
}

.footer__text-link {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    display: block;

    &:active,
    &:hover {
        color: map-get($colors, secondary);
        cursor: pointer;
    }
}
.footer__image-link {
    cursor: pointer;
}
