@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


$colors: (
    background: #ffffff,
    background-features: #FAFAFA,
    text: #000000,
    main: #EE3D1B,
    secondary: #ED4C5C,
);

$fonts: (
    title-1: 700 4.5rem, 
    title-2: 700 2.25rem,
    text-1: normal 1.5rem,
    text-2: 700 1.125rem,
    text-3: normal 0.875rem,
    text-4: normal 0.75rem,
); 

body {
    margin: 0;
}

.page {
    position: absolute;
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    display: table;
    height: 3922px;
    width: 1440px;
}

.page__body {
    display: table;
    height: 3922px;
    width: 1440px;
    margin: 0;
    top: 0;
    left: 0;
}

.background-main {
    background: linear-gradient(90deg, rgba(213, 32, 71, 0.8), rgba(238, 61, 27, 0.8)), url(img/Rectangle-3.png);
    position: absolute;
    width: 1440px;
    height: 782px;
    background-repeat: no-repeat;  
}


.header {
    position: absolute;
    display: table;
    width: 100%;
    height: 6.25rem;
    top: 1rem;
    color: map-get($colors, background);
}

.header__container {
    position: absolute;
    display: table-column;
    width: 100%;
    height: 100%;

}

.header__logo {
        display: table-cell;
        height: 100%;
        padding-left: 12.3rem;
        padding-top: 2rem;

        .header__logo--title {
        font: map-get($fonts, text-2) 'Lato', sans-serif;
        display: inline-block;
        vertical-align: middle;
        line-height: 21px;
        padding-left: 0.5rem;
        }

        .header__logo--image {
            display: inline-block;
            vertical-align: middle;
        }
    }
    
.navigation {
        display: table-cell;
        height: 100%;
        vertical-align: middle;

        .navigation__list {
            list-style: none;
            display: inline-block;
            margin: 0;
            line-height: 17px;
            padding: 2rem 7rem 0 7rem;

        }

        .navigation__link {
            display: inline-block;
            padding: 0 0.5rem;
            font: map-get($fonts, text-3) 'Lato', sans-serif;
        }
    }

.language-switcher {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        padding-top: 2rem;

        .language-switcher__name {
            display: inline-block;
            vertical-align: middle;
            font: map-get($fonts, text-3) 'Lato', sans-serif;
        }

        .language-switcher__image {
            display: inline-block;
            vertical-align: middle;
        }
    }

.login {
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 10rem 0 1.7rem;
    
    .login__button { 
    vertical-align: middle;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    background-color: transparent;
    color: map-get($colors, background);
    border: 1px solid;

    &:hover, 
    &:active {
        background-color: map-get($colors, background);
        color: map-get($colors, text);
    }
    }
}

.signup {
    top: 116px;
    display: table-row;
    position: absolute;
    width: 100%;
}

.signup__container {
    display: block;
    margin: 8.75rem auto auto auto;
    text-align: center;
    
}

.signup__title {
    color: map-get($colors, background);
    line-height: 86px;

    .signup__title--text {
    font: map-get($fonts, title-1) 'Lato', sans-serif;
    }
}

.signup__offer {
    margin-top: 2.44rem;
    font: map-get($fonts, text-1) 'Lato', sans-serif;
    color: map-get($colors, background);
    line-height: 36px;
    text-align: center;
}

.signup__container--action {
    text-align: center;
    margin-top: 2.44rem;

    .signup__container--button {
    vertical-align: middle;
    height: 50px;
    width: 160px;
    border-radius: 6px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    background-color: map-get($colors, background);
    color: map-get($colors, secondary);
    border: 1px solid;

    &:hover, 
    &:active {
        background-color: map-get($colors, background);
        color: map-get($colors, text);
    }
    }
}

.video-section {
    position: absolute;
    top: 782px;
    height: 500px;
    width: 1440px;
    display: inline-block;
    background-color: map-get($colors, background);
}

.video-section__container {
    display: block;
    position: absolute;
    margin: 140px 0 0 165px;
    width: 31%;
    height: 49.2%;
}

.video-section__title {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
}

.video-section__text {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
}

.video-section__link {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
    color: map-get($colors, secondary);

    &:active,
    &:hover {
        cursor: pointer;
    }
}

.video-section__button {
    margin: 217px 672px 217px 702px;
    position: absolute;
    height: 66px;
    width: 66px;

    &:active,
    &:hover {
        cursor: pointer;
    }
}

.play-button {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.video-section__background {
    margin: 94px 260px 95px 735px;
}

.features {
    position: absolute;
    width: 100%;
    height: 660px;
    display: block;
    top: 1282px;
    background-color: map-get($colors, background-features);
}

.features__title {
    position: absolute;
    width: 1110px;
    top: 63px;
    text-align: center;
    margin: 0 165px 0 165px;
}

.features__title--main {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
    margin: auto;
}

.features__container {
    top: 181px;
    position: relative;
    display: block;
    height: 250px;
    margin: 63px 120px 0 120px;
    text-align: center;
}

.features__image {
    text-align: center;
    padding: 0 15px;
}

.features__info {
    position: absolute;
    top: 338px;
    width: 1440px;
    text-align: center;
}

.features__item {
    width: 293px;
    height: 198px;
    display: inline-block;
    overflow: visible;
    background-color: map-get($colors, background);
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin: 0 43.5px;
    vertical-align: middle;
}

.features__item--title {
    font: map-get($fonts, text-2) 'Lato', sans-serif;
    line-height: 22px;
    margin: 32px 32px 20px 32px;
}

.features__item--text {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    margin: 0 32px 5px 32px;
    padding-bottom: 1rem;
}

.features__item--link {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    color: map-get($colors, secondary);
    
    &:active,
    &:hover {
        cursor: pointer;
    }
}

.technology {
    position: absolute;
    top: 1942px;
    width: 100%;
    height: 500px;
    display: block;
}

.technology__info {
    display: inline-block;
    margin: 170px 150px 104px 150px;
    height: 226px;
    width: 1140px;
}

.technology__item {
    display: inline-block;
    width: 255px;
    height: 226px;
    text-align: center;
    margin: 0 13.5px;
}

.technology__item--number {
    font-size: 100px;
    line-height: 120px;
    font-family: 'Lato', sans-serif;
    margin: 0 69px;
    color: rgba(16, 16, 16, 0.08);
}

.technology__item--title {
    font: map-get($fonts, text-2) 'Lato', sans-serif;
    line-height: 22px;
    margin: 19px 65px 0 65px;
    text-align: center;
}

.technology__item--text {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    margin: 10px 32px 0 32px;
}

.technology__icon {
    background-color: transparent;
    position: absolute;
    display: inline-block;
    height: 80px;
    top: 230px;
    margin: 0 252px;
    width: 936px;
}

.technology__icon--image1 {
    vertical-align: middle;
    text-align: center;
}

.technology__icon--image2 {
    vertical-align: middle;
    text-align: center;
    margin-left: 208px;
}

.technology__icon--image3 {
    vertical-align: middle;
    text-align: center;
    margin-left: 216px;
}

.technology__icon--image4 {
    vertical-align: middle;
    text-align: center;
    margin-left: 222px;
}

.app-download {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 2442px;
    background-color: map-get($colors, secondary);
    display: inline-block;
}
.app-download__info {
    margin: 122px 0 0 165px;
    width: 445px;
    color: map-get($colors, background);
}

.app-download__info--title {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
}

.app-download__info--text {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
}
.app-download__info--link {
    vertical-align: middle;
    display: inline-block;
    padding-right: 20px;

    &:active,
    &:hover {
        cursor: pointer;
    }
}
.app-download__image {
    position: absolute;
    display: inline-block;
    left: 691px;
    top: 94px;
}

.app-download__image--left {
    position: absolute;
    margin-top: 22px;
}

.app-download__image--right {
    position: absolute;
    margin-top: 22px;
    margin-left: 150px;
}

.app-download__image--top {
    position: absolute;
    margin-left: 44px;
}

.contact {
    position: absolute;
    width: 1440px;
    height: 500px;
    left: 0px;
    top: 2942px;
    display: inline-block;
}

.contact__info {
    display: inline-block;
    margin: 117px 0 0 165px;
    width: 445px;
}
.contact__info--title {
    font: map-get($fonts, title-2) 'Lato', sans-serif;
    font-weight: normal;
    line-height: 43px;
}

.contact__info--text {
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    line-height: 140%;
    margin-top: 40px;
}

.contact__form {
    vertical-align: top;
    margin: 117px 0 0 114px;
    display: inline-block;
}
.contact__form--input {
    text-align: left;
}

input:active,
input:hover {
        background-color: rgba($color: #1cd415, $alpha: 0.5);
        color: map-get($colors, text);

        &:focus {
            outline: none;
        }
}

.first-name,
.last-name {
    width: 255px;
    height: 60px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 30px;
}

.last-name {
    margin-left: 30px;
}

.phone-number,
.select-service {
    margin-top: 24px;
    border: 1px solid #333333;
    border-radius: 6px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 30px;
    width: 576px;
    height: 60px;
}

.select-service {
    width: 608px;

    &:focus {
        outline: none;
    }
    
}
.contact__form--button {
    margin-top: 24px;
    width: 160px;
    height: 50px;
    background-color: map-get($colors, secondary);
    color: map-get($colors, background);
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    line-height: 17px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;

    &:active,
    &:hover {
        color: map-get($colors, text);
        border-color: map-get($colors, text);
        cursor: pointer;
    }

    &:focus {
        outline: none;
    }
}

.footer {
    position: absolute;
    width: 1440px;
    height: 435px;
    top: 3487px;
    background-color: map-get($colors, background-features);
    display: table-row;
    text-align: left;
   
}

.footer__container {
    margin-left: 166px;
    margin-top: 85px;
}

.footer__item {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    margin-right: 80px;
    text-align: left;
}
.footer__item--title {
    font: map-get($fonts, text-2) 'Lato', sans-serif;
    line-height: 22px;
    margin-bottom: 33px;
}
.footer__item--text {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
}

.footer__copyright {
    margin-top: 117px;
}

.footer__item--text-link {
    font: map-get($fonts, text-4) 'Lato', sans-serif;
    line-height: 150%;
    display: block;

    &:active,
    &:hover {
        color: map-get($colors, secondary);
        cursor: pointer;
    }
}
.footer__item--image-link {
    cursor: pointer;
}
