@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');


$colors: (
    background: #ffffff,
    text: #000000,
    main: #EE3D1B,
    secondary: #D52047,
);

$fonts: (
    title-1: 700 4.5rem, 
    title-2: 700 2.25rem,
    text-1: normal 1.5rem,
    text-2: 700 1.125rem,
    text-3: normal 0.875rem,
    text-4: normal 0.75rem,
); 

.page {
    font-family: Lato, sans-serif;
    box-sizing: border-box;
    position: absolute;
    display: table;
    height: 3922px;
    width: 1440px;
}

.page__body {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
}

.background-top {
background: linear-gradient(90deg, rgba(213, 32, 71, 0.8), rgba(238, 61, 27, 0.8)), url(img/Rectangle-3.png);
position: absolute;
width: 100%;
height: 782px;
left: 0px;
top: 0px;


}

.header {
    position: absolute;
    display: table;
    width: 100%;
    height: 6.25rem;
    top: 1rem;
    color: map-get($colors, background);
}

.header__container {
    position: absolute;
    display: table-column;
    width: 100%;
    height: 100%;

}

.header-logo {
        display: table-cell;
        height: 100%;
        padding-left: 12.3rem;
        padding-top: 2rem;

        h1 {
        font: map-get($fonts, text-2) 'Lato', sans-serif;
        display: inline-block;
        vertical-align: middle;
        line-height: 21px;
        padding-left: 0.5rem;
        }

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }
    
.main-nav {
        display: table-cell;
        height: 100%;
        vertical-align: middle;

        .nav-items {
            list-style: none;
            display: inline-block;
            margin: 0;
            line-height: 17px;
            padding: 2rem 7rem 0 7rem;

        }

        .nav-item {
            display: inline-block;
            padding: 0 0.5rem;
            font: map-get($fonts, text-3) 'Lato', sans-serif;
        }
    }

.language-switch {
        display: table-cell;
        vertical-align: middle;
        height: 100%;
        padding-top: 2rem;

        p {
            display: inline-block;
            vertical-align: middle;
            font: map-get($fonts, text-3) 'Lato', sans-serif;
        }

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }

.login-button {
    display: table-cell;
    vertical-align: middle;
    padding: 2rem 10rem 0 1.7rem;
    
    .button { 
    vertical-align: middle;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    background-color: transparent;
    color: map-get($colors, background);
    border: 1px solid;

    &:hover, 
    &:active {
        background-color: map-get($colors, background);
        color: map-get($colors, text);
    }
    }
}

.main {
    top: 116px;
    display: table-row;
    position: absolute;
    width: 100%;
}

.signup__container {
    display: block;
    margin: 8.75rem auto auto auto;
    text-align: center;
    
}

.signup-title {
    color: map-get($colors, background);
    line-height: 86px;

    h1 {
    font: map-get($fonts, title-1) 'Lato', sans-serif;
    }
}

.signup-offer {
    margin-top: 4.46rem;
    font: map-get($fonts, text-1) 'Lato', sans-serif;
    color: map-get($colors, background);
    line-height: 36px;
    text-align: center;
}

.signup-button {
    text-align: center;

    .button-solid {
    vertical-align: middle;
    height: 50px;
    width: 160px;
    border-radius: 6px;
    font: map-get($fonts, text-3) 'Lato', sans-serif;
    background-color: map-get($colors, background);
    color: map-get($colors, secondary);
    border: 1px solid;

    &:hover, 
    &:active {
        background-color: map-get($colors, background);
        color: map-get($colors, text);
    }
    }
}